<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>newsmail</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<nav class="nav">
				<ul>
					<li class="user"><%= user.name || user.username || user.email || user.mailchain_address %></li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
						</form>
					</li>
				</ul>
			</nav>
	
			<div class="details">
				<p>Auth token: <%= auth_token %></p>
				<form action="/" method="post">
					<input type="text"  name="title" placeholder="What should we call your newsletter?" autofocus>
					<input type="text" name="desc" placeholder="What is it about?"/>
					<input type="hidden" name="user" value="<%= user.name || user.username || user.email || user.mailchain_address %>" >
					<button type="submit" class="submit-btn">Submit</button>
				</form>
			</div>
		</section>
		<footer class="info">
	
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
